
body {
    background-color: rgb(238, 239, 240);
    margin: auto;
}

header,main,nav {
    background-color: rgb(248, 248, 248);;
}
nav,main{
    width: 30%;
}

.logo {
    margin-left: 200px;
}

#logo_text,h2 {
    display: inline-block;
    font-family: 'Roboto', sans-serif;
    vertical-align: 50%;
}

nav {
    margin: 50px auto 2px;
    padding-top: 13px;
    padding-left: 60px;
    padding-bottom: 12px;
}

main {
    margin: auto;
    padding-top: 25px;
    padding-left: 60px;
}

.button {
    border: 1px solid black;
    border-radius: 20px; 
    padding: 5px 10px;
    margin-left: 5px;
}

#button_task {
    background-color: rgb(71, 173, 241);
    color: white;
    border-color: rgb(71, 173, 241);
}

#button_section{
    background-color: white;
    color: lightgray;
    border-color: lightgray;
}

.violet {
    background-color: violet;
    color: white;
}

.lightgreen {
    background-color: rgb(176, 201, 38);
    color: white;
}

.orange {
    background-color: rgb(242, 158, 51);
    color: white;
}

.fuchsia {
    background-color: rgb(216, 99, 160);
    color: white;
}

.green {
    background-color: rgb(100, 192, 169);
    color: white;
}
.heavenly {
    background-color: rgb(69, 171, 233);
    color: white;
}
.lime {
    color: rgb(103, 194, 171);
}
.red {
    color: rgb(236, 98, 84);
}
.lime,.red {
    border: 1px solid;
    border-radius: 100%;
    padding: 2px 5px;
    margin-right: 10px;
}
