
body {
    background-color: rgb(246, 248, 249);
    margin: auto;
}

header,main,nav {
    background-color: white;
}

.logo {
    margin-left: 200px;
}

#logo_text,h2 {
    display: inline-block;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    vertical-align: 50%;
}

nav {
    margin: 50px auto 2px;
    width: 60%;
    padding-top: 13px;
    padding-left: 60px;
    padding-bottom: 12px;
}

main {
    width: 60%;
    margin: auto;
    padding-top: 25px;
    padding-left: 60px;
}
.button {
    border: 1px solid black;
    border-radius: 20px; 
    padding: 5px 10px;
    margin-left: 5px;
}

#button_task {
    background-color: rgb(65, 211, 255);
    color: white;
    border-color: rgb(65, 211, 255);
}

#button_section{
    background-color: white;
    color: lightgray;
    border-color: lightgray;
}

.violet {
    background-color: violet;
    color: white;
}

.lightgreen {
    background-color: rgba(3, 247, 19, 0.633);
    color: white;
}

.orange {
    background-color: orange;
    color: white;
}

.fuchsia {
    background-color: fuchsia;
    color: white;
}

.green {
    background-color: green;
    color: white;
}
.heavenly {
    background-color: rgb(65, 211, 255);
    color: white;
}
.lime {
    color: lime;
}
.red {
    color: red;
}
.lime,.red {
    border: 1px solid;
    border-radius: 100%;
    padding: 2px 5px;
    margin-right: 10px;
}
